body {
    margin: 0;
    position: relative;
}
 
.navbar {
     position: absolute;
    font-size: 16px;
}

.background {
    text-align: center;
    color: #ffffff;
    background: url("../img/background-index2.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    padding: 20% 0 25% 0;
}

ul, ol {
    list-style: none;
    padding: 2% 0;
}

li {
    display: inline-block;
    margin: 0 20px;
    font-size: 36px;
    color: #ffffff;
}


.fa {
    color: #ffffff;
}

a {
    color: #ffffff;
}

.footer-home {
    background: #13131A;
    color: #ffffff;
    padding: 5% 0 2% 0;
    font-size: 13px;
}

.about-me {
    background: #13131A;
    background-size: cover;
    width: 100%;
}


@media (min-width: 768px) {
.intro h1 {
    font-size: 60px;
    font-weight: 600;
    padding: 170px 0 210px 0;
}

}