body {
    margin: 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

  
a .logo-danelly {
    width: 35px;
}
 
.navbar{
    transition: 250ms ease;
    background: transparent !important;
    color: #ffffff;
    padding: 10px;
}

.navbar.scrolled{
    background: #05101b !important;
    color: #ffffff;
    padding: 10px;
}

.background {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(
        rgba(11, 11, 12, 0.712), 
        rgba(11, 11, 12, 0.712)
      ), url("../img/unsplash3.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}

.presentation {
    margin: auto;
}

/* button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

button:hover {
    background-color:rgb(21, 50, 88);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
} */

h1 {
    padding: 40% 0 0;
    font-size: 2,5em;
}

h2 {
    padding-bottom: 12%;
    font-size: 1.5em;
}

.subtitle {
    font-size: 20px;
}


ul, ol {
    list-style: none;
}

li {
    display: inline-block;
    color: #ffffff;
    font-size: 36px;
}

.modal-list{
    color: #494949;
    font-size: 15px;
    text-align: justify;
}

.modal-content{
    width: 100%;
    font-size: 15px;
    border-radius: 2px;
}


.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px;
    margin: 0 3px;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.10rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #594a5f;
    border-radius: 2px;
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
	color: #ffffff;
    background: rgba(60, 182, 199, 100%);
    transition: 280ms ease;
}
.navbar-light .navbar-nav .nav-link.active{

    border-radius: 0.10rem;
    color: #ffffff;
}

a .fab {
    color: #ffffff; 
    margin: 0 15px;
    font-size: 200%;
}

a .fas {
    color: #ffffff; 
    margin: 0 15px;
    font-size: 150%;
}

.soft {
    padding: 25px;
}

.txt-type > .text {
    border-right: 0.2rem solid #777;
}

.links-contact {
    padding: 9% 0 12% 0;
}

.btn{
    margin: 2% 0 5% 0;
    background-color: rgba(21, 50, 88, 0);
    border-color: rgb(255, 255, 255);
    color: #ffffff;
}

.btn:hover{
    background-color: rgba(60, 182, 199, 100%);
    border-color: rgb(7, 7, 7);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.modal-btn{
    background-color: #0f1138;
}

.soft1 {
    display: inline-block;
    padding: 2%;
    width: 35%;
}

.social-icons {
    text-decoration-color: transparent;
}

.skills-section {
    padding: 5% 0 3%;
}

.footer-home {
    background: linear-gradient(
        rgba(11, 11, 12, 0.712), 
        rgba(11, 11, 12, 0.712)
      ), url("../img/unsplash3.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    color: #ffffff;
    padding: 1.5% 0 0.5% 0;
    font-size: 13px;
}

.contact {
    background: rgb(2, 9, 19);
    background-size: cover;
    width: 100%;
    color: #ffffff;
}

h3 {
    padding: 10% 0 5%;
    font-size: 2em;
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

.bg-black {
    background-color: rgb(2, 9, 19);
}

.about-section {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(
        rgba(11, 11, 12, 0.712), 
        rgba(11, 11, 12, 0.712)
      ), url("../img/unsplash3.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}


.about-section .justify {
    text-align: justify;
    padding: 2%;
}

.projects-section {
    margin-bottom: 5%;
}

.perfil {
    max-width: 80%;
    height: auto;
    margin: 0 0 5% 0;
}

.email {
    color: #ffffff;
}

@media (min-width: 765px) {
.language {
    padding: 8% 0 0 0;
    color: #ffffff;
}
h1 {
    font-size: 3.5em;;
    padding: 22% 0 0;
}
h2 {
    font-size:2em;
    padding-bottom: 6%;
}
h3 {
    padding: 4% 0 3%;
}
a .fab {
    color: #ffffff; 
    margin: 0 15px;
    font-size: 250%;
}
.perfil {
    max-width: 100%;
    height: auto;
    margin: 0 0 10% 20%;
}
.navbar{
    transition: 350ms ease;
    background: transparent !important;
    color: #ffffff;
    padding: 10px;
}
.navbar.scrolled{
    background: rgba(5, 16, 27, 0.952) !important;
    color: #ffffff;
    z-index: 1030;
}

.modal-content{
    width: 110% !important;
    font-size: 15px;
    border-radius: 2px;
}

}

