body {
    margin: 0;
    position: relative;
    font-family: 'Rosario', sans-serif;
}


a .logo-danelly {
    width: 35px;
}
 
.navbar{
    transition: 350ms ease;
    background: transparent !important;
    color: #ffffff;
    padding: 10px;
}

.navbar.scrolled{
    background: rgba(9, 22, 39, 0.897) !important;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
}

.background {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(
        rgba(11, 11, 12, 0.712), 
        rgba(11, 11, 12, 0.712)
      ), url("../img/unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}

.presentation {
    margin: auto;
}

button {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

button:hover {
    background-color:rgb(21, 50, 88);
    color: #ffffff;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
}

h1 {
    padding: 40% 0 0;
    font-size: 2,5em;
}

h2 {
    padding-bottom: 12%;
    font-size: 1.5em;
}


ul, ol {
    list-style: none;
}

li {
    display: inline-block;
    color: #ffffff;
    font-size: 36px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 0.10rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgba(9, 22, 39, 0.897);
    border-radius: 5px;
    color: #ffffff;
}

a .fab {
    color: #ffffff; 
    margin: 0 15px;
    font-size: 200%;
}

a .fas {
    color: #ffffff; 
    margin: 0 15px;
    font-size: 150%;
}

.links-contact {
    padding: 10% 0 12% 0;
}

.btn{
    margin: 2% 0 5% 0;
    background-color: rgb(21, 50, 88);
    border-color: rgb(21, 50, 88);
    color: #ffffff;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    border-color: rgb(33, 33, 47);
    border-radius: 15px;
    color: rgb(33, 33, 47);
}

.footer-home {
    background: linear-gradient(
        rgba(11, 11, 12, 0.712), 
        rgba(11, 11, 12, 0.712)
      ), url("../img/unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    color: #ffffff;
    padding: 1.5% 0 0.5% 0;
    font-size: 13px;
}

.contact {
    background: rgb(2, 9, 19);
    background-size: cover;
    width: 100%;
    color: #ffffff;
}

h3 {
    padding: 10% 0 5%;
    font-size: 2em;
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

.bg-black {
    background-color: rgb(2, 9, 19);
}

.about-section, .skills-section {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(
        rgba(11, 11, 12, 0.712), 
        rgba(11, 11, 12, 0.712)
      ), url("../img/unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}

.projects-section {
    margin-bottom: 5%;
}

.perfil {
    max-width: 80%;
    height: auto;
    margin: 0 0 5% 0;
}

.email {
    color: #ffffff;
}

@media (min-width: 765px) {
.language {
    padding: 8% 0 0 0;
    color: #ffffff;
}
h1 {
    font-size: 3em;;
    padding: 25% 0 0;
}
h2 {
    padding-bottom: 8%;
}
h3 {
    padding: 4% 0 3%;
}
a .fab {
    color: #ffffff; 
    margin: 0 15px;
    font-size: 250%;
}

.projects-section .project-text hr {
    border-color: rgba(9, 22, 39, 0.897);
    border-width: .25rem;
    width: 30%;
}
.perfil {
    max-width: 100%;
    height: auto;
    margin: 0 0 10% 20%;
}

}